/*PARAMÈTRES DE LA PAGE --------------*/
/*------------------------------------*/
@media screen{

html, body, * {
  margin: 0;
  padding:0;
  font-family: 'JetBrainsMono-Light', sans-serif;
}

body{
  --color-yellow:#fffef7;;
  --color-pink:#ff6ac2;  
  --color-grey:#A9A9A9;  
  background-color: var(--color-yellow);
  color:var(--color-pink);
  font-family: 'JetBrainsMono-Light', sans-serif;
  /*font-size:1.70vh;*/
  overflow-x: hidden;
}

html{
    font-size:35px;
    line-height:42px;
}


::-webkit-scrollbar
{
    display:none;
}

/*TYPOGRAPHIES --------------*/
/*------------------------------------*/

@font-face { 
    font-family: 'JetBrainsMono-Regular';
    src: url('../Fontes/JetBrainsMono-Regular.ttf') format('truetype'),
       url('../Fontes/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face { 
    font-family: 'JetBrainsMono-Light';
    src: url('../Fontes/JetBrainsMono-Light.ttf') format('truetype'),
       url('../Fontes/JetBrainsMono-Light.woff2') format('woff2');
}

/*PARAMÈTRES DU HEADER --------------*/
/*------------------------------------*/

header{
    width:96vw;
    padding:3vh 2vw;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: var(--color-yellow);
    border-bottom:1px solid var(--color-pink);
    position:sticky;
    top:0;
}


header p a{
    text-decoration: none;
}

.column-header:nth-child(1){
    width:50%;
    display:flex;
    flex-direction:column;
}

.column-header:nth-child(1) p:nth-child(1){
    width:100%;
}

.column-header:nth-child(1) p:nth-child(2){
    width:100%;
}

.column-header:nth-child(2){
    width:50%;
}

.print{
    display:none;
}

section{
    width:96vw;
    padding:3vh 2vw 0vh 2vw;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:auto;
}

.column-section:nth-child(1){
    width:100%;
    margin-bottom:2vh;
}

.sub-colmun-section{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin:1vh 0;
}

.sub-colmun-section p strong::after{
    content:" ------------------------------------------------------------------------------------------------------------------";
}

.sub-colmun-section p:nth-child(1){
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.sub-colmun-section p:nth-child(2){
    width:100%;
    margin-bottom:2vh;
}

.sub-colmun-section a{
    font-style:italic;
}

.column-section:nth-child(2){
    width:100%;
    margin-bottom:2vh;
}

.column-section:nth-child(2) p, .column-section:nth-child(3) p{
    margin:1vh 0 2vh 0;

}

.column-section:nth-child(3){
    width:100%;
    margin-bottom:10vh;
}

.column-section:nth-child(4){
    display:none;
}

h1{
  font-weight:normal;
  font-size:1rem;
  padding-bottom:0.5vh;
  border-bottom:1px solid var(--color-pink);
}

a{
    color:inherit;
    text-decoration:none;
    text-decoration: underline 1px var(--color-pink);
    text-underline-position: under;
}

a:hover{
    text-decoration: underline 1px var(--color-pink);
    text-underline-position: under;
    color:var(--color-yellow);
    background-color:var(--color-pink);
}


/*ANIMATIONS -----------*/


footer{
    width:96vw;
    padding:2vh 2vw;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: var(--color-yellow);
    color:var(--color-grey);
    font-size:0.9rem;
    position:fixed;
    bottom:0;

}

footer div{
    display:flex;
}


footer p{
    margin-right:2.5vw;
}

footer div:nth-child(1) p:nth-child(1)::before{
      content: none;
}

footer div:nth-child(1){
    display:none;
}


footer p a{
    text-decoration: none;
    cursor:pointer;
}

footer p a:hover{
    text-decoration: underline 1px var(--color-grey);
    text-underline-position: under;
    color:inherit;
    background-color:inherit;
}

/*ANIMATIONS -----------*/


.legal{
  position: absolute;
  right: -70vw;
  width: 70vw;
  top:-94vh;
  height:94vh;
  padding:3vh 0;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-color:red;
  display:flex;
  flex-direction: column;
  font-size:1rem;
  background-color:var(--color-yellow);
}


.legal div{
    margin:0vh 0 6vh 2vw;
    width:65vw;
    display:flex;
    flex-direction: column;
}

.legal div:nth-child(1){
    display:block;
}
.legal div a{
    text-decoration: underline 1px var(--color-grey);
    text-underline-position: under;
    cursor:pointer;
}

.legal div a:hover{
    background-color:var(--color-grey);
}


#mentions-legales:checked ~ .legal {
  -webkit-transition: max-height .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  right: 0;
}


#mentions-legales .span-nochecked, #mentions-legales .span-checked{
  cursor:pointer;
  transition: all 0.5s ease;
}

#mentions-legales + label .span-nochecked { display: block; cursor: pointer;}
#mentions-legales + label .span-checked { display: none; cursor: pointer;}

#mentions-legales:checked + label .span-nochecked { display: none; }
#mentions-legales:checked + label .span-checked { display: block; }

}


